@model PizzaShop.Repository.ViewModels.CustomerUpdateViewModal

<div class="modal fade" id="customerDetailsModal" tabindex="-1" aria-labelledby="customerDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerDetailsModalLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="TotalTableCapacity" id="totalTableCapacityInput" />
                <form asp-action="EditCustomer" asp-controller="OrderAppMenu" method="post" id="customerDetailsForm">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="text" asp-for="CustomerId" class="form-control" id="customerId" hidden />
                    <div class="form-floating mb-3">
                        <input asp-for="CustomerName" class="form-control" id="customerName"
                            placeholder="Customer Name" />
                        <label for="customerName">Customer Name</label>
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="PhoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number" />
                        <label for="phoneNumber">Phone Number</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="NumberOfPersons" class="form-control" id="numberOfPersons"
                            placeholder="Number of Persons" />
                        <label for="numberOfPersons">Number of Persons</label>
                        <span asp-validation-for="NumberOfPersons" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" id="email" placeholder="Email" />
                        <label for="email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
