@model PizzaShop.Repository.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Forgot Password Page";
}
@if (TempData["ErrorMessage"] != null)
{
    <script>toastr.error('@TempData["ErrorMessage"]');</script>
}
@if (TempData["SuccessMessage"] != null)
{
    <script>toastr.success('@TempData["SuccessMessage"]');</script>
}
@if (TempData["WarningMessage"] != null)
{
    <script>toastr.warning('@TempData["WarningMessage"]');</script>
}
@if (TempData["InfoMessage"] != null)
{
    <script>toastr.info('@TempData["InfoMessage"]');</script>
}
<div class="p-2 p-md-5 d-flex align-items-center justify-content-center col-12 col-md-6 p-0 m-0 vh-100">
    <div>
        <div class="d-flex justify-content-center align-items-center mb-5 w-100">
            <div class="d-flex gap-1 align-items-center justify-content-center">
                <img src="/images/logos/pizzashop_logo.png" alt="PizzaShop Logo" width="15%" height="15%">
                <h1 class="custom-body-text-color">PIZZASHOP</h1>
            </div>
        </div>
        <h3 class="mb-4">Forgot Password</h3>
        <form method="post" asp-controller="Auth" asp-action="ForgotPassword" novalidate>
            <div class="mb-4">
                <label for="exampleInputPassword1" class="form-label text-muted mb-3">
                    Enter your email and we'll send you a link to reset your password
                </label>
                <div class="d-flex align-items-center">
                    <input asp-for="Email" class="form-control" id="custom-login-input" placeholder="Email*" />
                    <img src="~/images/icons/user.png"
                        style="display: inline; margin-left: -23px; vertical-align: middle">
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">Send</button>
            <div class="d-flex justify-content-center">
                <a asp-controller="Auth" asp-action="Login" class="text-decoration-none coustom-link-color">Back to
                    login</a>
            </div>
        </form>
    </div>
</div>