@model PizzaShop.Repository.ViewModels.SectionViewModel

<div class="modal fade" id="editSection" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editSectionLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editSectionLabel">Edit Section</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editSectionForm" asp-action="EditSection" asp-controller="TableAndSection" method="post">
                <div class="modal-body d-flex flex-column align-items-center">
                    <input asp-for="SectionId" type="hidden" />

                    <div class="mb-3 w-100 form-floating">
                        <input asp-for="SectionName" class="form-control w-100" placeholder="Name" />
                        <span asp-validation-for="SectionName" class="text-danger"></span>
                        <label asp-for="SectionName" class="form-label">Name*</label>
                    </div>
                    <div class="mb-3 w-100 form-floating">
                        <textarea asp-for="Description" class="form-control w-100"
                            placeholder="Multiple lines"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <label asp-for="Description" class="form-label">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn custom-navbar-bg-color text-white">Save</button>
                    <button type="button" class="btn btn-outline-primary p-2" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
