.navbar-nav li::marker {
  content: none !important;
}

.order-app-table-view-wrapper {
  max-height: 70vh !important;
  overflow-y: auto !important;
  scrollbar-width: thin !important;
}

body {
  background-color: #f2f2f2 !important;
  cursor: context-menu !important;
}
